name: Broken Workflow Fixed

on: [push]

jobs:
   build:
     runs-on: ubuntu-latest

steps:
   -  name: Checkout
      uses: actions/checkout@v3

   -  name: Say hi
      run: echo "This workflow is broken on purpose!"
